.promotions
  &__title
    text-align: center
    position: relative
    padding-bottom: calc(10px + 15px + 28px)
    margin-bottom: 20px
    &::before
      content: url(../img/title_decor.svg)
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
