@font-face
    font-family: 'Roboto'
    src: url('../font/Roboto-Bold.woff2') format('woff2'), url('../font/Roboto-Bold.woff') format('woff')
    font-weight: 700
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Roboto'
    src: url('../font/Roboto-Regular.woff2') format('woff2'), url('../font/Roboto-Regular.woff') format('woff')
    font-weight: 400
    font-style: normal
    font-display: swap

.title-1, h1
    font-weight: 400
    font-size: 48px

.container
    max-width: 1230px + (2 * 15px)
    padding: 0 15px
    margin: 0 auto
.clearfix::after
    content: ''
    display: block
    clear: both
.alignright
    float: right
    margin-left: 50px
    margin-bottom: 25px
.alignleft
    float: left
    margin-right: 50px
    margin-bottom: 25px
.scrollOff
    overflow-y: hidden
.bg
    background-position: center
    background-size: cover
    background-repeat: no-repeat
